<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Upload CSV: </label>
    <div class="col-sm-8">
      <input type="text" ng-model="filename" class="form-control"/>
    </div>
    <div class="col-sm-2">
    <button class="btn btn-success" ng-click="upload()"><i class="glyphicon glyphicon-upload"></i></button>
    <button class="btn btn-danger" ng-click="clear()"><i class="glyphicon glyphicon-remove-circle"></i></button>
  </div>
  </div>
</form>

